extends layout

block content
    div(id="accountInfo")
        p Username: #{person.userName}
        p password: #{person.pass}
        p Age: #{person.age}
        p Email: #{person.email}
        p Answer 1: #{person.answer1}
        p Answer 2: #{person.answer2}
        p Answer 3: #{person.answer3}
        br
        br
        #menu
            a(href='/') Go back
        //a(href='/edit/' + person.id) Edit
