extends layout

block content
  div(id="accountInfo")
    p Username: #{user.userName}
    p password: #{user.pass}
    p Age: #{user.age}
    p Email: #{user.email}
    p Answer 1: #{user.answer1}
    p Answer 2: #{user.answer2}
    p Answer 3: #{user.answer3}
    br
    br
    a(href='/Edit/' + user.id) Edit
