extends layout

block content

    p Username: #{person.userName}
    p password: #{person.pass}
    p Age: #{person.age}
    p Email: #{person.email}
    p Answer 1: #{person.answer1}
    p Answer 2: #{person.answer2}
    p Answer 3: #{person.answer3}
    br

    #menu
        a(href='/') Home