extends layout


block content
  table(class='detailGrid')
    tr
      th Id
      th Username
      th Password
      th Email
      th Age
      th Answer 1
      th Answer 2
      th Answer 3
      th
      th
    each item in userList
      tr
        td
          a(href='/details/' + item.id) #{item.id}
        td #{item.userName}
        td #{item.pass}
        td #{item.email}
        td #{item.age}
        td #{item.answer1}
        td #{item.answer2}
        td #{item.answer3}
        td
          a(href='/edit/' + item.id) Edit
        td
          a(href='/delete/' + item.id) Delete

  p
  #menu
    a(href='/CreateAccount') Add New User


  //div(id="questions")
  //  p Question 1 will go here
  //    p answer 1-1
  //    p answer 1-2
  //    p answer 1-3
  //    p answer 1-4
  //    p answer fill in the blank
  //  p Question 2 will go here
  //    p answer 2-1
  //    p answer 2-2
  //    p answer 2-3
  //    p answer 2-4
  //    p answer fill in the blank
  //  p Question 3 will go here
  //    p answer 3-1
  //    p answer 3-2
  //    p answer 3-3
  //    p answer 3-4
  //    p answer fill in the blank
  //div(id="Results")
  //  p Results 1 will go here
  //    canvas
  //  p Results 2 will go here
  //    canvas
  //  p Results 3 will go here
  //    canvas
  //
